---
layout: default
---

{% include modal.html %}

<h3>{{ site.title }}</h3>
<div class="row">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Song Title</th>
      <th>Writer</th>
    </tr>
  </thead>
  {% assign posts = site.posts | sort:'song' %}
  {% for post in posts %}
    <tbody>
        <tr>
          <td class="col-xs-1">{{ post.song }}</td>
          <td class="col-xs-9"><a class="form-control song-title" data-toggle="modal" data-target="#myModal{{ post.song }}" data-remote="true" href="{{ post.url }}">{{ post.title }}</a></td>
          <td class="col-xs-2">{{ song.writer }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>




