---
layout: default
---

{% include modal.html %}
{% include writerModal.html %}


<h3>{{ site.title }}</h3>
<div class="row">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Song Title</th>
      <th class="hidden-xs">Writer</th>
    </tr>
  </thead>
  {% assign posts = site.posts | sort:'song' %}
  {% for post in posts %}
  {% unless post.author %}
    <tbody>
        <tr>
          <td class="col-xs-1">{{ post.song }}</td>
          <td class="col-xs-9"><a class="form-control song-title" data-toggle="modal" data-target="#myModal{{ post.song }}" data-remote="true" href="{{ post.url }}">{{ post.title }}</a></td>
          <td class="hidden-xs col-xs-2">{% if post.writer %}<a class="form-control song-title" data-toggle="modal" data-target="#myModal{{ post.writer | slugify }}" data-remote="true" >{{ post.writer }}{% endif %}</a></td></td>
        </tr>
  {% endunless %}
  {% endfor %}
    </tbody>
  </table>
</div>




