<head>
  <title>HymnalWsf</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="all" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="/css/hymnal-custom.css">
  <link rel="stylesheet" media="all" href="/css/bootstrap-table.min.css"> 
  <link rel="stylesheet" media="all" href="/css/theme.css">
</head>
